.projects-section {
  text-align: center;
}

#projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
  justify-content: center;
}

.project-card {
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.14);
  border: 2px solid rgba(255, 255, 255, 0);
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 7vh;
  width: 100%;
  margin: 0 1.3em;
  transition: 0.3s ease-out;
}

.project-card:hover::before {
  opacity: 1;
}

/* follow mouse movement - need to add functionality */
.project-card::before {
content: "";
height: 100%;
opacity: 0;
position: absolute;
width: 100%;
background: radial-gradient(
    500px circle at var(--mouse-x) var(--mouse-y), 
    rgba(255, 255, 255, 0.04),
    transparent 40%
    );
}

.project-card:hover {
  border: 2px solid #225ba0;
  transform: translateY(-3px);
  background-color: rgba(0, 0, 0, 0.2);
}

.card-blur {
  filter: blur(1px);
}

.project-image-container {
  grid-area: image;
}
.project-title {
  grid-area: title;
}
.project-description {
  grid-area: description;
}
.project-tech {
  grid-area: tech-stack;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "image image title title title title "
    "image image description description description description "
    "image image tech-stack tech-stack tech-stack tech-stack ";
  /* 15% for first two columns (image & image) */
  grid-template-columns: 15% 15%;
  gap: 0.5em 0.5em;
  padding: 0.5em;
}

.grid-container > div {
  /* background-color: rgba(255, 255, 255, 0.3); */
  text-align: left;
  padding: 5px 0;
  font-size: 10px;
}

.project-img {
  width: 100%;
  border-radius: 3px;
}

div > .project-image-container,
div > .project-title,
div > .project-description,
div > .project-tech {
  padding: 0;
  margin: 0;
}

div > .project-title {
  font-size: 1em;
}

div > .project-description {
  font-size: 0.7em;
  font-weight: 300;
}

.tech-button {
  padding: 0.2em 0.5em;
  margin: 0.2em;
  border-radius: 5px;
  border: none;
  color: #eeeeee;
  background-color: #225ba0;
}


.project-link {
  z-index: 2;
  text-decoration: none;
  color: white;
}