:root {
  /* background-color: #191919; */
  background-color: #1d1d20;
  color: #eeeeee;
  font-family: "Poppins", sans-serif;
  height: 100vh;
  width: 100vw;
  letter-spacing: 0.02em;
}

button {
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  overflow-x: hidden;
  box-sizing: border-box;
  background-image: radial-gradient(
  rgba(255, 255, 255, 0.1) 1px, 
  transparent 1px
  );
  background-position: 50% 50%;
  background-size: 1.1rem 1.1rem;

  /* have background dots follow mouse */
}

.bold {
  font-weight: 600;
}

/* header {
  border: solid 1px red;
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  font-size: 1.4em;
  grid-row: 1;
  grid-column: 1;
  height: 7vh;
} */

.main-content {
  /* grid-row: 2; */
  /* grid-column: 1; */
  display: grid;
  grid-template-columns: 60% 40%;
  /* grid-template-rows: 1fr; */
}

.content-container, .nav {
  box-sizing: border-box;
  height: 100vh;
  transition: 1s ease-in-out;
}


/* Content Section */
.content-container {
  /* border: solid 1px red; */
  grid-row: 1;
  grid-column: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 17vw;
}

/* .content-header {
  margin: 0;
  padding-bottom: 1em;
} */

.content-card {
  display: flex;
  position: relative;
  justify-content: center;
  align-self: flex-start;
  box-sizing: border-box;
  /* background-color: rgba(255, 255, 255, 0.1); */
  background-color: rgb(52, 52, 55);
  border: 2px solid rgba(255, 255, 255, 0);
  border-radius: 10px;
  height: 90%;
  width: 85%;
  transition: .5s ease-out;
  overflow: auto;
  /* add a slight shadow */
  
}

.content-card:hover {
  border: 2px solid rgba(255, 255, 255, .5);
  /* filter: blur(10px); */
  /* use above to blur out other projects besides the one that is hovered */  
}






/* Nav */

.nav {
  /* border: solid 1px red; */
  margin-right: 17vw;
  text-align: end;
  display: flex;
  justify-content: end;
}

.nav-list {
  /* border: solid 1px red; */
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 6vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* padding: 10vh 5vw; */
  /* margin: 35vh 2em 35vh 2em; */

}

.nav-list > li:hover {
  transform: scale(1.1) translateX(-1em);
  
}

.nav-list > li {
  position: relative;
  transition: 0.4s ease-in-out;
}

.link-wrapper {
  position: relative;
  display: inline-block;
}

.link-wrapper::before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 30%;
  height: 3px;
  width: 3px;
  background-color: white;
  transition: width 0.4s ease-in-out;
}

.link-wrapper:hover::before {
  width: 100%;
  height: 2px;
  background-color: #2e8cff;
}


.link-style {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 200;
  transition: opacity 0.3s ease-in-out;
  opacity: 0.85;
}

.link-style:hover {
  opacity: 1 !important;
}


body:hover::before {
  opacity: 1;
}


/* Side accent */
.page-content {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.follower--left {
  position: absolute;
  left: 0;
  width: 2px;
  height: 70px;
  background: linear-gradient(
    transparent,
  rgba(46,140,255,1),
    transparent);
  transform: translateY(-50%);
}

.follower--right {
  position: absolute;
  right: 0;
  width: 2px;
  height: 70px;
  background: linear-gradient(
    transparent,
  rgba(46,140,255,1),
    transparent);
  transform: translateY(-50%);
}

